.navbar{
width: 1120;
height: 36;
top: 32px;
left: 160px;
justify-content: space-between;
angle: 0 deg;
opacity: 1;
}

.Hi{
width: 78.07130432128906;
height: 29;
top: 105px;
opacity: 1;
font-family: Barlow;
font-weight: 600;
font-style: SemiBold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
background: rgba(93, 95, 239, 1);
}
img{
width: 451;
height: 551;
top: -4px;
left: 670.01px;
angle: 0 deg;
opacity: 1;
border-radius: 15px;

}
.explore{

}