body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dcdce6; /* light gray background */
}

/* Navbar */
.navbar {
  background-color: #e6e6e6;
  padding: 15px 40px;
  border-bottom: 2px solid #6c63ff;
}

.logo {
  color: #6c63ff;
  font-style: italic;
}

/* Hero Section */
.JaneDoe{
  padding: 100px 80px;
}

.Hi {
  color: #6c63ff;
  font-size: 18px;
}

.Jane {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.Lorem1{
  max-width: 500px;
  color: #444;
  line-height: 1.5;
}

/* Button */
.explore {
  margin-top: 20px;
  padding: 12px 25px;
  border: 2px solid #6c63ff;
  background: transparent;
  color: #6c63ff;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #6c63ff;
  color: white;
}
.JaneDoe {
    display: flex;
    
}